---
import '../styles/global.css'
import Licencias from '../assets/projects/licencias.png'
import Cabañas from '../assets/projects/arboleda.png'
import TailwindIcon from '../assets/skills/tailwind.svg'
import ReactIcon from '../assets/skills/react.svg'
import AstroIcon from '../assets/skills/astro.svg'
---

<article class='w-full flex flex-col px-5 py-10' id='container'>
  <h2 class='text-3xl mb-5 text-[#EB5E28]'>Proyectos Destacados</h2>
  <section class='grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6'>
    <article class='relative'>
      <img
        src={Cabañas.src}
        alt='Foto de la landing page de cabañas la arboleda en San Luis'
        class='rounded-lg w-full h-72 object-cover'
      />
      <div
        class='p-4 rounded-lg border-2 border-[#CCC5B9] hover:border-[#EB5E28] transition-all duration-300 shadow-lg absolute top-0 w-full h-full flex flex-col justify-between bg-[#252422]'
      >
        <div>
          <h3 class='text-xl font-bold text-[#403D39] mb-2'>La Arboleda</h3>
          <p>
            Landing page para cabañas en San Luis, implementación de
            viewTransitions.
          </p>
        </div>
        <ul class='flex gap-4 items-center'>
          <li class='w-5'><AstroIcon /></li>
          <li class='w-5'><TailwindIcon /></li>
        </ul>
      </div>
    </article>
    <article class='relative'>
      <img
        src={Licencias.src}
        alt='Foto de la app web de licencias escolares'
        class='rounded-lg w-full h-72 object-cover'
      />
      <section
        class='p-4 rounded-lg shadow-lg border-2 border-[#CCC5B9] hover:border-[#EB5E28] transition-all duration-300 absolute top-0 w-full h-full flex flex-col justify-between bg-[#252422]'
      >
        <div>
          <h3 class='text-xl font-bold text-[#403D39] mb-2'>
            Manager licencias
          </h3>
          <p>
            Webapp para administrar licencias de docentes, uso de LocalStorage.
          </p>
        </div>
        <ul class='flex gap-4 items-center'>
          <li class='w-5'><ReactIcon /></li>
          <li class='w-5'><TailwindIcon /></li>
        </ul>
      </section>
    </article>
  </section>
</article>
