---
import '../styles/global.css'
---

<article class='w-full flex flex-col px-10 my-10' id='container'>
  <h2 class='text-3xl mb-5'>Proyectos Destacados</h2>
  <section class='grid grid-cols-1 md:grid-cols-2 gap-6'>
    <div class='border p-4 rounded-lg shadow-lg'>
      <h3 class='text-xl font-bold mb-2'>Proyecto 1</h3>
      <p>
        Descripción breve del proyecto 1. Tecnologías utilizadas: HTML, CSS,
        JavaScript.
      </p>
    </div>
    <div class='border p-4 rounded-lg shadow-lg'>
      <h3 class='text-xl font-bold mb-2'>Proyecto 2</h3>
      <p>
        Descripción breve del proyecto 2. Tecnologías utilizadas: React, Astro.
      </p>
    </div>
  </section>
</article>
