---
const currentYear = new Date().getFullYear()
import GithubIcon from '../assets/icons/github.svg'
import LinkedInIcon from '../assets/icons/linkedin.svg'
import CVIcon from '../assets/icons/download.svg'
---

<footer
  class='bg-white border-t border-[#EB5E28] mt-6 flex gap-3.5 justify-between items-center p-5 xl:px-60'
>
  <div class='flex space-x-4'>
    <a
      href='https://github.com/alvarezjuanign'
      class='text-[#252422] hover:text-[#EB5E28] transition-colors duration-300'
      aria-label='GitHub'
      target='_blank'
    >
      <GithubIcon class='h-6' />
    </a>
    <a
      href='https://www.linkedin.com/in/juanigz/'
      class='text-[#252422] hover:text-[#EB5E28] transition-colors duration-300'
      aria-label='LinkedIn'
      target='_blank'
    >
      <LinkedInIcon class='h-6' />
    </a>
    <a
      href='../../public/docs/Juan Ignacio Alvarez.pdf'
      target='_blank'
      class='text-[#252422] hover:text-[#EB5E28] transition-colors duration-300'
      aria-label='Cv'
    >
      <CVIcon class='h-6' />
    </a>
  </div>
  <div class='text-center'>
    <p class='text-[#252422] text-sm'>&copy; {currentYear} Alvarez Juan</p>
  </div>
</footer>
