---
import fotoJuanIgnacio from '../assets/yo.png'
import '../styles/global.css'
import CV from '../../public/docs/Juan Ignacio Alvarez.pdf'
import GithubIcon from '../assets/icons/github.svg'
import LinkedInIcon from '../assets/icons/linkedin.svg'
import CVIcon from '../assets/icons/download.svg'
---

<article class='w-full flex flex-col items-center' id='container'>
  <main class='flex flex-col justify-start w-full p-10'>
    <section id='hero' class='flex items-center gap-3'>
      <img
        src={fotoJuanIgnacio.src}
        alt='Foto Juan Ignacio Alvarez'
        class='rounded-full w-11 h-11 object-cover'
      />
      <p><b>Juan Ignacio Alvarez</b></p>
      <ul id='links' class='flex'>
        <a href='https://www.linkedin.com/in/juanigz/' target='_blank'>
          <LinkedInIcon />
        </a>
        <a href='https://github.com/alvarezjuanign' target='_blank'>
          <GithubIcon />
        </a>
        <a href={CV} target='_blank'><CVIcon /></a>
      </ul>
    </section>
  </main>
</article>
