---
import '../styles/global.css'
---

<article class='w-full max-w-[1800px] px-5 flex flex-col md:px-20 xl:px-60'>
  <p class='my-2 text-lg text-[#252422]'>HOLA, SOY JUAN IGNACIO ALVAREZ</p>
  <h1 class='text-5xl md:text-6xl text-[#EB5E28]'>Desarrollador Frontend</h1>
  <p class='my-2 text-xl text-[#252422]'>
    Soy desarrollador frontend y estudiante de Licenciatura en sistemas con
    experiencia en la creación de interfaces de usuario atractivas, funcionales
    y responsive. Me especializo en tecnologías como HTML, CSS, JavaScript y
    frameworks modernos como React y Astro.
    <br />
    <br />
    Me encanta crear soluciones a través del software y siempre estoy buscando aprender
    nuevas tecnologías y mejorar mis habilidades.
  </p>
</article>
