---
import '../styles/global.css'
---

<article class='w-full flex flex-col px-5 md:w-1/2 xl:w-1/2' id='container'>
  <p class='my-2 text-sm text-gray-700'>HOLA, SOY JUAN IGNACIO ALVAREZ</p>
  <h1 class='text-5xl text-[#274c77]'>Desarrollador Frontend</h1>
  <p class='my-2 text-lg text-gray-700'>
    Soy desarrollador frontend con experiencia en la creación de interfaces de
    usuario atractivas y funcionales. Me especializo en tecnologías como HTML,
    CSS, JavaScript y frameworks modernos como React y Astro.
  </p>
</article>
