---
import '../styles/global.css'
import ReactIcon from '../assets/skills/react.svg'
import AstroIcon from '../assets/skills/astro.svg'
import TailwindIcon from '../assets/skills/tailwind.svg'
import CssIcon from '../assets/skills/css.svg'
import HtmlIcon from '../assets/skills/html.svg'
import JsIcon from '../assets/skills/js.svg'
import LinuxIcon from '../assets/skills/linux.svg'
import GitIcon from '../assets/skills/git.svg'
import GithubIcon from '../assets/skills/github.svg'
import ViteIcon from '../assets/skills/vite.svg'
---

<section class='flex flex-col px-5 md:px-20 py-10 xl:px-60'>
  <h2 class='text-3xl mb-5 text-[#EB5E28]'>TECNOLOGÍAS</h2>
  <div class='flex border-2 border-[#EB5E28] rounded-lg'>
    <ul
      class='bg-[#1E1E1E] w-full p-5 rounded-md gap-4 grid place-items-center grid-cols-5 md:grid-cols-10'
    >
      <li class='w-8'><HtmlIcon /></li>
      <li class='w-8'><CssIcon /></li>
      <li class='w-8'><JsIcon /></li>
      <li class='w-8'><ReactIcon /></li>
      <li class='w-8'><AstroIcon /></li>
      <li class='w-8'><TailwindIcon /></li>
      <li class='w-8'><LinuxIcon /></li>
      <li class='w-8'><GitIcon /></li>
      <li class='w-8'><GithubIcon /></li>
      <li class='w-8'><ViteIcon /></li>
    </ul>
  </div>
</section>
